<head>
    <meta charset="UTF-8">
    <title>Dashboard with Flexmonster</title>
    <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.flexmonster.com/demo.css">
    <link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">
    
    </head>
        <body>
        
            {% include 'includes/navigation.html' %}
                    
            <main>
        
                {% include 'includes/preloader.html' %}

                <div id="pivot-table-container" data-url="{% url 'pivot_data' %}"></div>
                <div id="pivot-chart-container"></div>
        </body>