{% extends "layouts/base.html" %}

{% block title %} Queue {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    {% include 'includes/preloader.html' %}

    <!-- Hero -->
    <div class="section-header pb-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">Passport Queue</h1>
                    <div class="alert bg-success" role="alert" href="https://themesberg.com/docs/pixel-bootstrap/components/tables/" target="_blank">
                        <span class="fas fa-info-circle"></span>
                        <a class="fw-bold text-white text-underline mx-1"
                            href="https://themesberg.com/docs/pixel-bootstrap/components/tables/" target="_blank">Call Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Hero -->
    <div class="section section-md">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Jackson <span class="badge badge-primary ml-2">Pro</span>
                                    </div>
                                </td>
                                <td>Larry</td>
                                <td>
                                    <div class="d-flex">
                                        <i class="fas fa-edit mr-3" data-toggle="tooltip" data-placement="top"
                                            title="Edit item"></i>
                                        <i class="fas fa-trash text-danger mr-2" data-toggle="tooltip"
                                            data-placement="top" title="Delete item"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Jacob <span class="badge badge-secondary ml-2">Mid</span>
                                    </div>
                                </td>
                                <td>Thornton</td>
                                <td>
                                    <div class="d-flex">
                                        <i class="fas fa-edit mr-3" data-toggle="tooltip" data-placement="top"
                                            title="Edit item"></i>
                                        <i class="fas fa-trash text-danger mr-2" data-toggle="tooltip"
                                            data-placement="top" title="Delete item"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Larry <span class="badge badge-tertiary ml-2">Pro</span>
                                    </div>
                                </td>
                                <td>Doe</td>
                                <td>
                                    <div class="d-flex">
                                        <i class="fas fa-edit mr-3" data-toggle="tooltip" data-placement="top"
                                            title="Edit item"></i>
                                        <i class="fas fa-trash text-danger mr-2" data-toggle="tooltip"
                                            data-placement="top" title="Delete item"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}